    canvas {
      background-color: #dedddd;
      border-radius: 10px;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    img.hidden {
      position: absolute;
      visibility: hidden;
      overflow: hidden;
    }

    #controls {
      float: left;
      margin: 10px;
      font-size: 14px;
      width: 600px;
    }

    #brightnessSlider, #dofSpreadSlider, #focalLengthSlider, #environmentRotationSlider, #customGLSLText, #environmentSunStrengthSlider {
      width: 450px;
    }

    .h {
      font-size: 18px;
      font-weight: bold;
    }

    #statusContainer {
      position: absolute;
      left: 0;
      top: 0;
      width: 700px;
      height: 512px;
      text-align: center;
      vertical-align: middle;
      line-height: 512px;
    }

    #status {
      padding: 10px;
      background-color: rgba(255,255,255,0.5);
      border-radius: 10px;
    }

    #main-container {
      top: 50px;
      left: 100px;
      right: 100px;
      position: absolute;
    }

    #container-left {
      width: 50%;
      position: fixed;
      top: 50;
      left: 50;
      border: 0;
      padding-top: 23px;
    }

    .canvasDiv {
      position: relative; 
      top: 0; 
      left: 0; 
      margin-top: 20px;
    }

    #container-right {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
    }

    .nav {
      background-color: #00bcd4 !important;
      border-radius: 10px 10px 0px 0px;
    }

  .sticky-header {
    position: -webkit-sticky;  
    position: sticky; 
    top: 0; 
    margin-top: 20px; 
    z-index: 10;
  }

    li.active>a {
      color: yellow !important;
    }

    html, body {
      font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    }
    